# Scraping
playwright
beautifulsoup4
requests

# Data Processing
pandas
numpy
scikit-learn
nbconvert
nbformat
ipykernel
joblib

# Visualisation
matplotlib
seaborn

# ML — boosting models
xgboost
lightgbm

# Utils
python-dotenv
pyyaml
